body{
	margin: 0;
	padding: 0;
	width: 100%;
}  

h1 {
   font-family:sans-serif;
	font-weight:normal;
	font-size: 55px;
	text-align: center;
   color: rgba(255,255,255,1);
	margin: 0;
	padding: 0;
   text-shadow: 1px 1px rgba(0,0,0,0.3);
}

h2 {
   font-family:sans-serif;
   font-weight: normal;
   font-size: 30px;
   text-align: center;
   color: rgba(255,255,255,1);
   margin: 0;
   padding: 0;
   text-shadow: 1px 1px rgba(0,0,0,0.3);
   /*text-shadow: 1px 3px 4px #def, 0 0 0 #000, 1px 3px 4px #def;*/
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }


h3 {
   font-family: Oswald;
   color: #fff;
   font-weight: normal;
   font-size: 20px;
   text-align: center;
   /*margin: 5px 0;*/
   margin-top: 0px;
   padding: 0;
   z-index: 1;
	/*position: relative;*/
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }


/*#header {
	width: 100%;
	background-color: black;
	height: 80px;
	position: fixed;
	opacity: 0.7;
	z-index: 1000;
}

#nav { 
   width: 410px; 
   float: right; 
   margin-top: 20px; 
}

#nav ul{
   list-style: none;
   display: block;
   margin: 0 auto;
   list-style: none;
}

#nav li{
   margin-top: 9px;
   float: left;
   padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: sans-serif; }
#nav li a:hover { color: #fff; opacity:1;  }


#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }*/

#header {
   width: 100%;
   background-color: black;
   height: 80px;
   position: fixed;
   opacity: 0.8;
   z-index: 1000;
}

#nav { width: 200px; float: right; margin-top: 20px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:sans-serif; font-weight: bold; }
#nav ul{
   list-style: none;
   display: block;
   margin: 0 auto;
   list-style: none;
}

#nav li{
   margin-top: 9px;
   float: left;
   padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family:sans-serif; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }



#slide1, #slide2{ 
   width: 100%; 
   padding: 15% 0 0 0;
}
#slide1{
   background:url('/images/bg_white_blur.png') 50% 0 no-repeat fixed;
   /*color: #fff;*/
   height: 600px;
   margin: 0;
   padding: 10% 0 0px 0;
   background-size: cover;
}

#slide2{
   margin: 0 auto;
   overflow: hidden;
}

#slide2_content{
   width: 100%;
   background-color: gray;
}

.work_header {
   height: 100px;
   width: 100%;
   background-color: darkgray;
   -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
   box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.header_left_div {
   width: 420px;
   height: 100px;
   display: inline-block;
   margin-left: 5%;
}


.header_logo_div {
   width: 50%;
   height: 100%;
   float: left;
}

.header_name_div {
   width: 50%;
   height: 100%;
   float: left;
}

.header_logo {
   width: 70px;
   height: 70px;
   margin-left: 80px;
   margin-top: 15px;
}

.header_name_div {
   line-height: 100px;
   font-family:sans-serif;
   font-weight: normal;
   font-size: 30px;
   color: rgba(255,255,255,1.0);
   text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.show_content{
   width: 100%;
   margin-right: 10%;
   display: inline-block;
}

.device_row{
   margin-top: 20px;
   width: 32%;
   min-height: 593px;
   float: left;
   padding-left: 10px;
}

.device_content {
   width: 300px;
   margin: auto;
}

.desc_div {
   width: 100%;
   height: 107px;
   display: inline-block;
}

.icon_div {
   width: 72px;
   height: 107px;
   float: left;
}

.name_div {
   width: 228px;
   height: 107px;
   text-align: center;
   padding-top: 35px;
   float: left;
   color: white;
   font-family: sans-serif;
   text-shadow: 1px 1px rgba(0,0,0,0.3);
   font-size: 20px;
}

.icon_img {
   margin: 10px auto;
   width: 72px;
   height: 72px;
}




.round_corner {
   -moz-border-radius: 11px;
   -khtml-border-radius: 11px;
   -webkit-border-radius: 11px;
}






